.post-container {
    border-bottom: solid 1px #979797;
    border-top: solid 1px #979797;
}

.icon-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.favorite-count {
    padding: 5px;
}