@import url("https://fonts.googleapis.com/css?family=Noticia+Text:700i");

.App_container {
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 15% 1fr;
    grid-template-areas: "left-margin-header  header  right-margin-header"
    "left-margin-body  body  right-margin-body";
}

/* REM Sizing by Settings HTML to 62.5% */

html {font-size: 62.5%;}
    p {font-family: Roboto, sans-serif; font-size: 1.6rem;}
